@import './../../App.scss'; //import vars and mixins
.Work {
    h3 {
        margin-bottom: 2rem;
        font-size: 1.6rem;
    }
    ul {
        margin-bottom: 4rem;
    }
    li {
        line-height: 1.6;
        display: block;
        margin-bottom: 0.5rem;
    }
}
.Work__corporate {
    padding-top: 1rem;
    width: 75rem;
    li {
        // border: solid #efefef 0.1rem;
        height: 6rem;
        width: 15rem;
        display: inline-block;
        display: inline-grid;
        align-content: center;
        justify-content: center;
        font-size: 6rem;
        margin: 0.5rem 1rem;
        img {
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            bottom: 0;
            // top: 50%;
            left: 50%;
            transform: translate(-50%, 0);
        }
        //QG magazin
    }
    li:nth-child(3) {
        img {
            max-height: 80%;
        }
    }
    li:nth-last-child(2) {
        img {
            top: 50%;
            transform: translate(-50%, -40%);
        }
    }
}
.Work__download {
    grid-column: span 2;
    top: 4rem;

    a.btn {
        color: crimson;
        margin: 0 auto;
    }
}
@include desktop-sm {
    .Work__corporate {
        width: 65rem;
        li {
            height: 5.5rem;
            width: 13rem;
            margin: 0.5rem 1rem;
        }
    }
}
@include tablet {
    .Work__download {
        text-align: center;
        a.btn {
            margin: 0 auto -1rem;
        }
    }
}
@include mobile {
    .Work {
        font-size: 1.4rem;
        li {
            margin-bottom: 0.8rem;
        }
    }
    .Work__corporate {
        width: 100%;
        li {
            height: 5rem;
            width: 8.5rem;
        }
    }
}
@include mobile-sm {
    .Work__corporate {
        li {
            // border: solid #efefef 0.1rem;
            height: 5rem;
            width: 8rem;
            margin: 0.2rem 0.7rem;
        }
        li:nth-child(3) {
            img {
                max-width: 70%;
            }
        }
    }
}
