@import './../../App.scss';  //import vars and mixins
.Work{
    b{
        color: $color_theme;
    }
    i{
        font-size: 1.2rem;
    }

}
@include mobile{
    b{
        font-size: 1.5rem;
    }
}
