@import './../../App.scss';  //import vars and mixins
.Work{
    b{
        color: $color_theme;
    }
    i{
        font-size: 1.2rem;
    }
    span{
        display: block;
        margin-bottom: .5rem;
    }

}
@include mobile{
    .Work{
        b{
            font-size: 1.5rem;
        }
        span{
            margin-bottom: .8rem;
        }
    }
}
