@import './../../App.scss';
.Testimonials {
    background: #f9f9fb;
    .wrapper {
        padding-bottom: 8rem;
    }
}
.Testimonials__card {
    width: 90%;
    border-bottom: solid 0.1rem #edeff3;
    padding-bottom: 4rem;
    margin-bottom: 4rem;
    p {
        margin-bottom: 0.7rem;
        font-size: 1.6rem;
    }
    .Testimonials__name {
        font-weight: bold;
        font-size: 1.8rem;
        margin: 0 0 -0.2rem;
    }
    .Testimonials__title {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .Testimonials__location {
        font-size: 1.2rem;
        margin: -0.2rem 0 0;
    }
}
.Testimonials__divider {
    display: inline-block;
    width: 10rem;
    height: 0.2rem;
    background-color: crimson;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
}
@include mobile {
    .Testimonials__card {
        width: 100%;
        p {
            font-size: 1.2rem;
        }
    }
}
