@import './../../App.scss';  //import vars and mixins
.Contact{
    background: none;
    overflow: hidden;
    text-align: right;
    color: #fff;
    align-content: end;
    .cover{
        background: rgba(171,174,183,.2);
    }
    .wrapper{
        padding: 5rem 0;
    }
}
// .Contact_bg{
//     // background-image: url('./../../media/imgs/mmb.jpg');
//     background-size: cover;
//     background-position: left bottom;
//     color: #fff;
//     height: 110vh;
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//
// }
footer{
    text-align: left;
    display: grid;
    align-content: end;
}
.SocialMedia{
    margin: -1rem 0 0;
    img{
        height: 1.8rem;
        margin-right: 1rem;

    }
}
//max 1200
@include desktop-sm{
    .Contact{
        .wrapper{
            padding: 5rem;
            display: grid;
        }
    }
}
//max 1024
@include tablet{
    .Contact_bg{
        background-position: 40% bottom;
    }
    .Contact{
        .wrapper{
            padding: 4rem 2rem 3rem;
            grid-template-columns: auto 1fr;
        }
        small{
            font-size: 1rem;
        }
    }
}
//max 768
@include mobile{
    .Contact_bg{
        background-position: 50% bottom;
    }

}
//max480
@include mobile-sm{
    .Contact{
        .wrapper{
            padding: 4rem 2rem 3rem;
            grid-template-columns:1fr;
        }
        footer{
            grid-row: 2;
            text-align: center;
            padding-top: 3rem;
        }

    }
}
