@import './../../App.scss';  //import vars and mixins
.Top{
    overflow: hidden;
    padding-left: 15rem;
    color: #fff;
    height: 90vh;
    .cover.bg{
        background-image: url('./../../media/imgs/mmb.jpg');
        background-size: cover;
        background-position: left top;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }
    .cover{
        background: rgba(171,174,183,.2);
    }
    align-content: end;
    .wrapper{
        padding-top:10rem;

    }
    h1{
        font-size: 6rem;
        line-height: 1;
    }
    h2{
        font-weight: normal;
        font-size: 3rem;

    }
    p{
        margin-top: 5rem;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.4;
    }
}
.Top__content{
    transition: .5s;
}

//max 1200
@include desktop-sm{
    .Top{
        padding-left: 8rem;
        h1{
            font-size: 5rem;
        }
    }
}
//max 1024
@include tablet{
    .Top .cover.bg{
        background-position: 40% top;

    }
}
//max 768
@include mobile{
    .Top{
        padding-left: 4rem;

        h1{
            font-size: 4rem;
        }
        h2{
            font-size: 2.4rem;
        }
        p{
            font-size: 1.6rem;
        }
    }
    .Top .cover.bg{
        background-position: 50% top;

    }

}
//max480
@include mobile-sm{
    .Top{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
