// var
$color_theme: #333d4c;
$color_red: crimson;

// mixins
@mixin desktop-sm {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}
@mixin tablet {
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
@mixin mobile {
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@mixin mobile-sm {
    @media only screen and (max-width: 480px) {
        @content;
    }
}
////max 1200
// @include desktop-sm{
//
// }
////max 1024
// @include tablet{
//
// }
////max 768
// @include mobile{
//
// }
////max480
// @include mobile-sm{
//
// }

@mixin anim(
    $name,
    $time,
    $delay,
    $timing-function: linear,
    $letterSpacing: 0rem,
    $font_size: default
) {
    animation: #{$name} #{$time} #{$delay} forwards #{$timing-function};
    @include keyframe($name, $letterSpacing, $font-size);
}
@mixin keyframe($name, $letterSpacing, $font_size) {
    @keyframes #{$name} {
        to {
            left: 0;
            opacity: 1;
            top: 0;
            letter-spacing: $letterSpacing;
            transform: scale(1);
            font-size: $font_size;
        }
    }
}
//==========================
//  SCREEN READERS STYLING
//==========================
.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px); //IE6 and IE7
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only.in-focus:link,
.sr-only.in-focus:visited,
.sr-only.in-focus:focus {
    position: relative;
    clip: auto !important;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: auto;
    line-height: normal;
    width: auto;
    padding: 4rem 5rem;
    left: 0;
    right: 0;
    background: crimson;
    color: #fff !important;
    font-size: 1.6rem;
    z-index: 1000 !important;
    display: block;
    width: 100vw;
}
a.sr-only.in-focus:hover {
    text-decoration-line: underline;
}

body {
    font-size: 1.5rem;
    text-align: left;
    color: #a6a7aa;
    color: #53637b;
}
p {
    line-height: 1.6;
    margin: 0 0 2rem;
}

.cover {
    align-content: center;
    display: grid;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

section {
    background: #fff;
    width: 100%;
    text-align: left;
    display: grid;
    align-content: center;
}
.wrapper {
    width: 110rem;
    margin: auto;
    display: grid;
    grid-template-columns: 35rem 70rem;
    padding: 15rem 0 12rem;
}

.section__title {
    font-size: 2.6rem;
    font-weight: normal;
    text-align: right;
    color: crimson;
    text-transform: uppercase;
    padding-right: 7rem;
    top: -0.2rem;
}

.btn {
    display: inline-block;
    width: 22rem;
    border: solid 0.1rem crimson;
    color: crimson;
    padding: 1.4rem 1rem;
    text-align: center;
    margin: 3rem 0 0;
    font-size: 1.4rem;
    cursor: pointer;
}
.btn:focus {
    border: dashed 0.1rem #53637b;
}
.mobile {
    display: none;
}
//FIX TO FIXED BG JUMPING IN CHROME
.media,
.About,
.Media,
.Work,
.Testimonials {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
@include desktop-sm {
    .wrapper {
        width: 100%;
        padding: 15rem 5rem 12rem;
        grid-template-columns: 30rem 1fr;
    }
}
@include tablet {
    .wrapper {
        padding: 12rem 10rem;
        display: block;
    }
    .section__title {
        text-align: left;
        margin-bottom: 2rem;
        font-size: 3rem;
    }
}
@include mobile {
    .mobile {
        display: block;
    }
    .wrapper {
        padding: 12rem 7rem 12rem;
    }
    p {
        font-size: 1.4rem;
    }
}
@include mobile-sm {
    .wrapper {
        padding: 10rem 7% 10rem;
    }
    .section__title {
        font-size: 2.6rem;
    }
}
