@import './../../App.scss'; //import vars and mixins

.Nav {
    color: #fff;
    left: 0;
    font-size: 1.8rem;
    position: fixed;
    position: absolute;
    top: 0;
    z-index: 9;
    width: 100%;
    padding: 6rem 0 4rem;
    .wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        padding: 0;
    }
    ul {
    }
    li {
        display: inline-block;
    }
}
.Nav__brand {
    font-size: 2.2rem;
    font-weight: normal;
}

.Nav__ham {
    display: none;
}
.Nav__pages {
    text-align: right;
    a {
        margin-left: 1.7rem;
        transition: none;
        top: 0.2rem;
    }
    a:focus {
        border-bottom: solid 0.1rem #fff;
    }
}

//max 1200
@include desktop-sm {
    .Nav .wrapper {
        padding: 0 5rem;
    }
    .Nav {
        padding: 4rem 0 3rem;
    }
}
//max 1024
@include tablet {
    .Nav {
        padding: 4rem 0 2rem;
        font-size: 1.4rem;
        a {
            font-size: 1.6rem;
        }
    }
    .Nav__brand {
        font-size: 1.8rem;
    }
}
//max 768
@include mobile {
    .Nav {
        .wrapper {
            padding: 0 4rem;
            grid-template-columns: 1fr auto;
        }
    }
    .Nav__brand {
        font-size: 2rem;
    }
    .Nav__ham {
        display: block;
        top: 0.2rem;
        cursor: pointer;
        span {
            cursor: pointer;
            display: block;
            width: 2.7rem;
            height: 0.3rem;
            background: #fff;
            margin-bottom: 0.5rem;
        }
    }
    .Nav__ham:focus {
        border: dashed 0.1rem #fff;
        padding: 1.5rem 1rem 1rem;
    }
    .Nav__pages {
        grid-column: span 2;
        text-align: center;
        display: none;
    }
    .Nav.open {
        position: fixed;
        background-color: #fcfcfc;
        transition: none;
        top: -10rem;
        opacity: 0;
        animation: slideIn 0.5s forwards;
        @keyframes slideIn {
            to {
                opacity: 1;
                top: 0;
            }
        }
        .Nav__brand {
            color: crimson;
        }

        .Nav__ham span {
            background-color: #111;
        }
        .Nav__ham:focus {
            border-color: #111;
        }
        .Nav__pages {
            display: grid;
            align-content: center;
            position: absolute;
            right: 0;
            top: 0;
            padding-bottom: 30%;
            width: 100%;
            height: 100vh;
            background-color: #fcfcfc;
            z-index: -1;
            li {
                display: block;
                margin: 1.2rem 0;
            }
            a {
                padding: 1rem 0;
                color: #111;
                letter-spacing: 0.1rem;
            }
            a:hover,
            a:focus {
                border-bottom: solid 0.2rem crimson;
            }
        }
        .Nav__ham {
            span {
                height: 0.2rem;
            }
            span:nth-child(1) {
                transform: rotate(45deg);
                top: 0.35rem;
            }
            span:nth-child(3) {
                transform: rotate(-45deg);
                top: -0.35rem;
            }
            span:nth-child(2) {
                display: none;
            }
        }
    }
}
@include mobile-sm {
    .Nav {
        .wrapper {
            padding: 0 5%;
        }
    }
}
